.parent {
    background-image: url("https://tpc.googlesyndication.com/simgad/13819017744080435628");
    height: 90vh;
    background-repeat: no-repeat;
    position: relative;
    border: 20px #000 hidden;
}
