body {
    background: gainsboro;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    align-items: center;
    background: wheat;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px gray;
}