* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Container*/
.flex-container {
    display: flex;
}

.article {
    margin: 1rem 0.5rem;
    background-color: aqua;
    padding: 1rem;
}
/*List*/
.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    background-color: aliceblue;
    padding: 0.5rem 2rem;
    margin: 0rem 0.5rem;
}

button {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0rem;
}

#one {
    margin-left: 0rem;
}

#four {
    margin-right: 0rem;
}

@media screen and (min-width: 640px) {
    body {
        background-color: blueviolet;
    }
}

@media  screen and (max-width: 640px) {
    .flex-container {
        display: block;
        font-family: monospace;
    }
    .article {
        background-color: bisque;
    }
}