body {
    background: lightcoral;
}
.about-me {
    background: aliceblue;
    padding: 50px;
    border: 5px solid blueviolet;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    margin: 25px 40px 25px 40px;
}

